/* TODO : A SUPPRIMER QUAND NG A FINI BARRE RECHERCHE */

/* ----- Bouton barre de recherche */
#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 120px;
    overflow-y: auto;
}

/* Ajout de la barre de défilement à la liste des suggestions */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* Ajoutez ceci pour afficher la barre de défilement uniquement si nécessaire */
    overflow-x: hidden;
}

.ui-menu-item {
    padding: 5px;
    cursor: pointer;
}

.ui-menu-item:hover {
    background-color: #f0f0f0;
}

.ui-state-focus {
    background-color: #ddd;
}
/* ----- End : Bouton barre de recherche */
